@use '../abstract/variaveis';
@use '../abstract/mixins';
   
.banner {
        background-image: url('../../img/banner.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        top: 0;
        &::after{
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            background: rgb(0,0,0);
            position: absolute; 
            top: 0;
            left: 0;
            opacity: .4 ;
        }

        .container{
            @include mixins.container();
            position: relative;
            z-index: 999;
            @include mixins.flex();
            flex-direction: column;
            justify-content: flex-end;
            align-items: start;
            height: 100%;
            padding-bottom: 250px;
            gap: 0;
            h1{
                @include mixins.subtitulo(white);
                animation: entrando 1s;
            }
            h3{
                @include mixins.titulo(white);
                max-width: 800px;
                font-size: 5rem;
                margin-bottom: 3rem;
                animation: entrando 1s;
            };
            a:nth-child(1){
                @include mixins.botao();
                margin-right: 15px;
                animation: entrando 1.5s;

                &:hover{
                    background-color: variaveis.$amarelo;
                    color: variaveis.$verde-escuro;
                }
            }
            a:nth-child(2){
                @include mixins.botao();
                background-color: variaveis.$amarelo;
                color: variaveis.$verde-escuro;
                animation: entrando 2s;

                &:hover{
                    background-color: variaveis.$verde-escuro;
                    color: white;
                }
            }

            @keyframes entrando {
                0%{
                    transform: translateY(30px);
                    opacity: 0;
                }
                100%{
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }

@media screen and (max-width: 668px) {
    .banner{
         height: 100svh;
        .container{
            h1{
                font-size: .8rem;
            }
            h3{
                font-size: 3rem;
            }
        }
    }
}