@use '../abstract/variaveis';
@use '../abstract/mixins';

.cabecalho{
    position: fixed;
    width: 100%;
    z-index: 9999999;
  &_container{
    @include mixins.container();
    @include mixins.flex();
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
  }

  img{
    width: 120px;
  }
  .nav_container{    

    #check-menu{
        display: none;
    }

    #check-menu:checked ~ .menu_navegacao{
        right: 0;
    }

    label{
        display: none;
        position: fixed;
        top: 35px;
        right: 2rem;
        z-index: 9999;
    }
    .menu_mobile{
        @include mixins.flex();
        gap: 3px;
        flex-direction: column;
        cursor: pointer;
        position: relative;
        span{
            transition: 1s ;
            width: 20px;
            height: 2px;
            display: block;
            background-color: white;
        }
    }
        .ativo span:nth-child(1){
            animation: ativandoPrimeiro 1s;
            transform: rotate(-45deg) translateY(7px);        
        }
        .ativo span:nth-child(2){
            transform: translateX( 60px);
            opacity: 0;

        }
        .ativo span:nth-child(3){
            animation: ativandoSegundo 1s;
            transform: rotate(45deg) translateY(-7px);
        }
        @keyframes ativandoPrimeiro {
            0%{
                transform: rotate(0) translateY(0);
            }
            50%{
                transform: rotate(0) translateY(5px);
            }
            100%{
                transform: rotate(-45deg) translateY(7px);
            }
        }
        @keyframes ativandoSegundo {
            0%{
                transform: rotate(0) translateY(0);
            }
            50%{
                transform: rotate(0) translateY(-5px);
            }
            100%{
                transform: rotate(45deg) translateY(-7px);
            }
        }

        .menu_navegacao{
            @include mixins.flex();
            ul{
                @include mixins.flex();

                li{
                    a{
                        font-weight: 600;
                        color: white;
                        font-size: 1rem;
                    }
                }
            }
            .whatsapp_bt{
                @include mixins.botao();
                padding: .5rem 1rem;
            }
            .bt-ativo{
                background-color: white;
                color: variaveis.$verde-escuro;
            }
        }
    }
}

.cabecalho-ativo {
    transition: 1s  ;
    background-color: variaveis.$verde-escuro;
    box-shadow: 0px 0px 5px #000;

}

.esconder{
    
    transform: translateY(-100%);
}

@media screen and (max-width: 768px) {
    .cabecalho{

        height: 80px;
        img{
            width: 90px;
        }

        .nav_container{
            label{
                display: block;
            }
            .menu_navegacao{
                transition: 1s;
                background-color: variaveis.$azul-escuro;
                position: fixed;
                height: 100vh;
                width: 80vw;
                right: -100%;
                top: 0;
                bottom: 0;
                flex-direction: column;
                justify-content: center;

               ul{
                flex-direction: column;

                li{
                    a{
                        color: white;
                        font-size: 1.5rem;
                        letter-spacing: 3px;
                        font-weight: 400;
                    }
                }
               }
               .whatsapp_bt{
                padding: 1rem;
                font-size: 1.2rem;
                background-color: variaveis.$cinza-claro;
                color: variaveis.$azul-escuro;
               }
            }
        }
    }
}