@use '../abstract/variaveis';
@use '../abstract/mixins';

.chamada{
    background-color: variaveis.$verde-escuro;
    
    &_container{
        @include mixins.container();
        @include mixins.flex();
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        height: 80vh;

        h3{
            @include mixins.subtitulo(white);
        }
        h5{
            @include mixins.titulo(white);
            text-align: center;
        }
        a{
            @include mixins.botao();
            background-color: white;
            color: variaveis.$azul-escuro;
            font-weight: 700;
            font-size: 1.2rem;

            &:hover{
                background-color: variaveis.$azul-escuro;
                color: white;
            }
        }
    }
}

@media screen and (max-width: 668px) {
    .chamada{

        &_container{
            h5{
                font-size: 2.5rem;
            }
        }
    }
}