@use '../abstract/variaveis';
@use '../abstract/mixins';

.contatos{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    height: 100vh;
    align-items: center;
    &_info{
        max-width: 580px;
        margin: 0 auto;
        text-align: end;
        padding:0 2rem;
        h3{
            @include mixins.subtitulo(variaveis.$verde-escuro);
        }
        p{
            @include mixins.titulo(variaveis.$azul-escuro);

        }

        ul{
            margin-top: 3rem;
            li{
                margin-bottom: 1rem;
                span{
                    @include mixins.textos();
                    color: variaveis.$cinza;
                    font-size: 1.4rem;
                    font-weight: 500;
                }                               
            }
        }
    }
    &_form{
        @include mixins.flex();
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        text-align: center;
        background-color: variaveis.$cinza-claro;
        width: 100%;
        height: 100%;
        input, textarea{
            max-width: 700px;
            margin: 0 auto;
            border: none;
            width: 80%;
            background-color: variaveis.$cinza-claro;
            border-bottom: 1px solid #e0e0e0;
            padding: 1rem;
            outline: none;
            font-family: variaveis.$font-textos;
        }

        button{
            @include mixins.botao();
            width: 80%;
            max-width: 700px;
            margin-top: 3rem;
            font-size: 1.5rem;

            &:hover{
                background-color: variaveis.$azul-escuro;
            }
        }
    }
    &_img{
        height: 100%;
        width: 100%;
        background-image: url('../../img/logo-branco.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        background-color: variaveis.$azul-escuro;
    }
}

@media screen and (max-width:768px) {
    .contatos{
        display: block;
        height: auto;
        padding-top: 4rem;
        &_info{
            p{
                font-size: 2.5rem;
            }
            ul{
                text-align: center;
                li{
                    span{
                        font-size: 1rem;
                    }
                }
            }
        }

        &_form{
            padding: 2rem 0;
        }
        &_img{
            height: 15vh;
            background-size: 70px;
        }
    }
}