@use '../abstract/variaveis';
@use '../abstract/mixins';

.rodape{
    background-color: variaveis.$verde-escuro;
    height: 40vh;
    @include mixins.flex();
    align-items: center;

    &_container{
        padding: 0 2rem;
        @include mixins.flex();
        width: 100%;
        justify-content: center;
        flex-direction: column;
        .botao-subir{
            height: 0px;
            width: 0px;
            background-color: variaveis.$azul-escuro;
            position: fixed;
            right: 20px;
            bottom: 100px;
            border-radius: 3px;
            transition: .5s;
            background-image: url('../../img/seta.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px;
            opacity: 0;
        }
        .visivel{
            opacity: 1;
            width: 30px;
            height: 30px;
        }

        .botao-wpp{
            @extend .botao-subir;
            bottom: 20px;
            height: 64px;
            width: 64px;
            background-image: url('../../img/wpp.png');
            background-size: contain;
            background-color: transparent;
            animation: none;
            display: block;
            opacity: 1;
        }

        span{
            @include mixins.subtitulo(white);
            font-size: .9rem;
            text-align: center;
        }

        .creditos{
            text-align: center;
            color: white;
            span{
                margin-left: 1rem;
                font-family: variaveis.$font-credito;
                font-size: 1.1rem;
                font-style: italic;
            }
        }
    }
}