@use '../abstract/variaveis';
@use '../abstract/mixins';


.servicos{
    background-color: variaveis.$cinza-claro;

    .container{
        @include mixins.container();
        padding-top: 180px;

        &_textos{
            h2{
                @include mixins.subtitulo(variaveis.$verde-escuro);
                text-align: center;                
            }
            h3{
                @extend h2;
                font-size: 3.5rem;
                color: variaveis.$azul-escuro;
                text-transform: none;
            }
            p{
                @include mixins.textos();
                text-align: center;
                max-width: 700px;
                margin: 0 auto;
            }
        }

        &_lista{
            @include mixins.flex();
            align-items: start;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
            margin-top: 7rem;
            padding: 0;
            li{
                max-width: 300px;

                img{
                    width: 100%;
                    border-radius: 10px;
                }
                div{
                    h3{
                        @include mixins.titulo(variaveis.$verde-escuro);
                        font-size: 1.5rem;
                        margin: 1.5rem 0 .5rem 0;
                    }
                    p{
                        @include mixins.textos();
                        margin-bottom: 2rem;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 700px) {
    .servicos{
        .container{
            padding: 5rem 5% 5rem 5%;
            &_textos{
                h3{
                    font-size: 2.5rem;
                    margin-bottom: 2rem;
                }
            }

            &_lista{
                li{
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }
}