@use '../abstract/variaveis';
@use '../abstract/mixins';

.sobre{
    @include mixins.container();
    .container{
        @include mixins.flex-jc-al(normal, start);
        margin-top: 5rem;

        div{
            @include mixins.flex-jc-al(normal, start);
            gap: 1rem;
            h2{
                @include mixins.titulo(variaveis.$cor-principal);
                font-size: 2rem;
            }
            p{
                @include mixins.textos(variaveis.$cinza-escuro);
            }
        }
        h3{
            margin-top: 5rem;
            @include mixins.titulo(variaveis.$cor-principal);
            font-size: 2rem;
        }
        ul{
            @include mixins.flex-jc-al(normal, center);
            gap: 3rem;
            width: 100%;
            margin: 1rem 0 0 1rem;
            flex-direction: row;
            margin-bottom: 2rem;
            li{
                @include mixins.textos(variaveis.$cor-principal);
                font-weight: 400;
                font-size: 1rem;
                text-transform: uppercase;
                position: relative;
                
                &::before{
                    content: '';
                    height: 10px;
                    width: 10px;
                    position: absolute;
                    background-image: url('../../img/barra.png');
                    background-size: 10px;
                    background-position: center;
                    left: -14px;
                    bottom: 5px;
                    border-radius: 50%;
                }
            }
        }
    }
    img{
        width: 100%;
    }
}

@media screen and (min-width: 668px) {
    .sobre {
        padding-top: 6rem;
        @include mixins.flex-jc-al(space-between, start);
        flex-direction: row;
        gap: 3rem;
        width: 100%;
        .container{
            width: 45%;
            margin-top: 0;
            ul{
                gap: 4rem;
            }
        }
        img{
            width: 45%;
        }
    }
}