@use './variaveis';

@mixin container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 10rem 5% 10rem 5%;
}

@mixin flex{
    display: flex;
    gap: 2rem;
    align-items: center;
}

@mixin textos{
    font-family: variaveis.$font-textos;
    color: #5f5f5f;
    font-size: 1.1rem;
    line-height: 1.7rem;
}

@mixin titulo($cor){
    font-size: 4rem;
    font-family: variaveis.$font-titulos;
    color: $cor;
    font-weight: 500;
}
@mixin subtitulo($cor){
    font-size: 1.2rem;
    font-family: variaveis.$font-titulos;
    color: $cor;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

@mixin botao{
    background-color: variaveis.$verde-escuro;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
    transition: .6s;
}