@use './variaveis';

@mixin flex-jc-al($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: column;
}

@mixin container{
    max-width: 1200px;
    padding: 0 8%;
}

@mixin titulo($cor){
    z-index: 9;
    font-size: 3rem;
    font-family: variaveis.$font-titulo;
    line-height: 3rem;
    letter-spacing: 3px;
    color: $cor;
    font-weight: 700;
}

@mixin textos($cor){
    z-index: 9;
    font-family: variaveis.$font-textos;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: $cor;
}