//CORES
$cinza: #8a8a8a;
$verde: #2d7e18;
$verde-escuro: #005B41;
$amarelo : #FFD23F;
$cinza-claro: #f7f7f7;
$azul-escuro: #1F2544;
//FONTS
$font-titulos: "DM Sans", sans-serif;
$font-textos: "Inter", sans-serif;