$cor-principal: #1A385B; //icones, titulos e fundo de seção;
$cor-secundaria: #D5D5D5; // cor para textos quando fundo for azul;
$branco: #FFFFFF;
$cinza-escuro: #333333; // cor dos textos em geral;
$verde: #2d7e18;

//fonts do site
$font-titulo: "Montserrat", sans-serif;
$font-textos: "Work Sans", sans-serif;