@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

//CORES


$cinza: #8a8a8a;
$verde: #2d7e18;
$verde-escuro: #005B41;
$amarelo : #FFD23F;
$cinza-claro: #f7f7f7;
$azul-escuro: #232D3F;
//FONTS
$font-titulos: "DM Sans", sans-serif;
$font-textos: "Inter", sans-serif;
$font-credito: "Urbanist", sans-serif;