* {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

img {
  width: 200px;
}

.cabecalho {
  max-width: 1200px;
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  background-color: #FFFFFF;
  position: fixed;
  height: 4.4rem;
  width: 100vw;
  z-index: 999;
}
.cabecalho img {
  width: 50px;
}
.cabecalho .nav_container #check-menu {
  display: none;
}
.cabecalho .nav_container #check-menu:checked ~ .menu_navegacao {
  right: 0;
  opacity: 1;
  box-shadow: -99px 0px 0px rgba(0, 0, 0, 0.3137254902);
}
.cabecalho .nav_container .menu_mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25px;
  height: 25px;
  display: flex;
  gap: 3px;
}
.cabecalho .nav_container .menu_mobile .menubar {
  width: 20px;
  height: 2px;
  display: block;
  background-color: #1A385B;
  transition: 0.7s;
}
.cabecalho .nav_container .ativa span:nth-child(1) {
  transform: rotate(45deg) translateY(7px);
}
.cabecalho .nav_container .ativa span:nth-child(2) {
  transform: translateX(20px);
  opacity: 0;
}
.cabecalho .nav_container .ativa span:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px);
}
.cabecalho .nav_container .menu_navegacao {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 4.4rem);
  width: 90vw;
  top: 4.4rem;
  right: -100%;
  opacity: 0;
  transition: 0.5s;
  position: fixed;
  background-color: #1A385B;
  text-align: center;
  padding-top: 1rem;
  z-index: 9999;
}
.cabecalho .nav_container .menu_navegacao .lista_menu_itens {
  border-bottom: 1px solid white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: 300;
  display: block;
  padding: 1rem;
  color: #FFFFFF;
}
.cabecalho .nav_container .menu_navegacao .whatsapp_bt {
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 10px;
  color: #1A385B;
  margin-top: 2rem;
}

@media screen and (min-width: 668px) {
  .cabecalho .nav_container .menu_mobile {
    display: none;
  }
  .cabecalho .nav_container .menu_navegacao {
    opacity: 1;
    position: initial;
    height: auto;
    flex-direction: row;
    background-color: transparent;
    padding-top: 0;
    width: auto;
  }
  .cabecalho .nav_container .menu_navegacao ul {
    display: flex;
  }
  .cabecalho .nav_container .menu_navegacao ul .lista_menu_itens {
    color: #1A385B;
    font-size: 0.9rem;
    font-weight: 600;
  }
  .cabecalho .nav_container .menu_navegacao .whatsapp_bt {
    margin: 0;
    padding: 0.5rem;
    color: #FFFFFF;
    font-size: 0.7rem;
  }
}
.banner {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  max-width: 1200px;
  padding: 0 8%;
  height: 100vh;
  background-image: url("../../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5254901961);
  top: 0;
  left: 0;
}
.banner h1 {
  z-index: 9;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #FFFFFF;
  animation: entrada 1s;
}
.banner h3 {
  z-index: 9;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  line-height: 3rem;
  color: #FFFFFF;
  font-weight: 300;
  margin: 1rem 0;
  animation: entrada 1s;
  animation-delay: 0.3s;
}
.banner .container_bt {
  animation: entrada 1s;
  animation-delay: 0.5s;
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  gap: 1rem;
  z-index: 9;
}
.banner .container_bt button {
  color: #1A385B;
  background-color: #FFFFFF;
  padding: 0.6rem 1rem;
  border-radius: 10px;
}
.banner .container_bt .bt_banner:nth-child(2) {
  background-color: #1A385B;
  color: #FFFFFF;
  animation: botao 2s infinite;
}
@keyframes entrada {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: 0;
  }
}
@keyframes botao {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */